body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  text-align: center;
  background-color: rgb(221, 221, 221);
}

button {
  border-radius: 30%;
  padding: 10px;
  transition-duration: 0.3s;
  font-size: 20px;
  background-color: rgb(240, 255, 174);
}

button:hover {
  box-shadow: 0 5px 10px 0 rgba(0,0,0,0.24), 0 10px 10px 0 rgba(0,0,0,0.20);
  padding: 13px;
}
timer {
  font-size: 20px;
  display: none;
}

gameinfo {
  margin: 10px;
  display: none;
}

#failbutton
{
  display: none;
}

.scorecss{
  position: fixed;
  top: 8%;
  right:8%;
  color:crimson;
  background-color: black;
  border-radius: 20%;
}
.livecss{
  position: fixed;
  top: 14%;
  right:8%;
  color:crimson;
  background-color: black;
  border-radius: 20%;
}

.textgame{
  /* Flex needed for textbox movement */
  display:flex;
  align-items: center;
  justify-content: center;
}

.cpsgame{
  /* Flex needed for textbox movement */
  display:flex;
  align-items: center;
  justify-content: center;
}

clickable {
  position: absolute;
  background-color: crimson;
  width: 50px;
  height: 50px;
  z-index: 1;
}

clickables-container {
  position: absolute;
  display: none;
  width: 400px;
  height: 400px;
  left: 40%
}

img {
  position:absolute;
  z-index: 1;
}

#sprite {
  width: 25px;
  height: 25px;
  background: red;
  position: relative;
  transition: 0.1s linear;
}
color1 {
  position: absolute;
  background-color: red;
  width: 50px;
  height: 50px;
  z-index: 1;
}

color2 {
  position: absolute;
  background-color: blue;
  width: 50px;
  height: 50px;
  z-index: 1;
}

color3 {
  position: absolute;
  background-color: green;
  width: 50px;
  height: 50px;
  z-index: 1;
}

color4 {
  position: absolute;
  background-color: pink;
  width: 50px;
  height: 50px;
  z-index: 1;
}

color5 {
  position: absolute;
  background-color:purple;
  width: 50px;
  height: 50px;
  z-index: 1;
}

color0 {
  position: absolute;
  background-color: orange;
  width: 50px;
  height: 50px;
  z-index: 1;
}
.image-hover {
  -webkit-transition: all 0.50s;
  transition: all 0.50s;
  &:hover {
      border: 1px solid gray;
      filter: brightness(130%);
      -webkit-filter: brightness(130%);
      -moz-filter: brightness(130%);
      -o-filter: brightness(130%);
      -ms-filter: brightness(130%);
      -webkit-transition: all 0.50s;
      transition: all 0.50s;
  }
}
.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}